main {
  height: 100vh;
}



.subtitle {
  margin-top: 60px;
  display: flex;

  font-weight: bold;
}

.buttonsContainer {
  width: 100%;
  height: 96px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}



.buttonsContainer>button {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  padding: 0px, 8px, 0px, 8px;
  background-color: var(--color-grey-8);
  color: var(--color-grey-2);
  font-size: 14px;

}
.buttonsContainer>button:hover{
background-color: var(--color-grey-1);
color: white;

}


.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.cardContainer {
  border: 1px solid white;
  min-width: 200px;
  /* height: 259px; */
  height: 259px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  background-color: var(--color-grey-8);
}

.albumInfo {
  color: var(--color-grey-2);
  font-family: "Inter", sans-serif;
  font-size: 13px;
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.album {
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}

.buy>p {
  color: var(--color-grey-1);
  font-size: 14px;

}

.buy {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.buy>button {
  font-size: 14px;
  color: var(--color-grey-2);
  width: 74px;
  height: 32px;
  background-color: var(--color-grey-7);
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 15px;

}

img {
  width: 308px;

}

#selectedPrice{
/* margin-bottom: 10px; */
font-size: 12px;
/* margin-left: 535px; */
font-weight: bold;


}
input{
 
/* margin-left: 400px; */
width: 641px;
}

.inputStyle{
  display: flex;
  gap: 460px;
  margin-top: 30px;
}
.align{
  color: var(--color-grey-1);
font-family: "Inter", sans-serif;;
  font-size: 14px;
  font-weight: bold;
}

